In [1]:
Dict={'Meter':{2200019605568,1591024987400,1300001188124,1300001188124,1300001188124},
      'Meter_ID':{1,2,3,4,5},
      'M_Reading':{20200110000000, 20200315000000,20200329000000,20200329001234,2020032904567},
      'Reading_Id':[4810.1,29310.0,11519.0,115.0,1144.0],
      'Date':[20210402,20210401,20210401,20210331,20210401],
      'Status':['V','V','V','F','F']}

In [2]:
Dict.keys()

dict_keys(['Meter', 'Meter_ID', 'M_Reading', 'Reading_Id', 'Date', 'Status'])

In [3]:
print(Dict.get('Status'))

['V', 'V', 'V', 'F', 'F']

In [4]:
Dict_List=len(Dict.values())
Dict_List

6

In [5]:
Dict1={'Meter':[2200019605568,1591024987400,1300001188124,1300001188124,1300001188124],
      'Meter_ID':[1,2,3,4,5],
      'M_Reading':[20200110000000, 20200315000000,20200329000000,20200329001234,2020032904567],
      'Reading_Id':[4810.1,29310.0,11519.0,115.0,1144.0],
      'Date':[20210402,20210401,20210401,20210331,20210401],
      'Status':['V','V','V','F','F']}

In [6]:
import pandas as pd
import numpy as np
df=pd.DataFrame.from_dict(Dict1)
df.head()

           Meter  Meter_ID       M_Reading  Reading_Id      Date Status
0  2200019605568         1  20200110000000      4810.1  20210402      V
1  1591024987400         2  20200315000000     29310.0  20210401      V
2  1300001188124         3  20200329000000     11519.0  20210401      V
3  1300001188124         4  20200329001234       115.0  20210331      F
4  1300001188124         5   2020032904567      1144.0  20210401      F

In [7]:
#The count of meters in the file
print(df['Meter'].count())

5

In [8]:
#The total sum of valid and invalid meter readings within the file
df.groupby(by=['Status']).count()

        Meter  Meter_ID  M_Reading  Reading_Id  Date
Status
F           2         2          2           2     2
V           3         3          3           3     3

In [9]:
1#The highest and lowest valid meter reading within the file
max1=df['Meter'].max()
print("Maximum meter reading is",max1)

Maximum meter reading is 2200019605568

In [10]:
df['Status']

0    V
1    V
2    V
3    F
4    F
Name: Status, dtype: object

In [21]:
#The lowest meter reading for both valid and invalid in file
df1=df.loc[:,['Meter','Status']]
GROUPby_status=df1.groupby('Status',axis=0)
#min1=df.idxmin(axis="Status")
GROUPby_status.min()

                Meter
Status
F       1300001188124
V       1300001188124

In [20]:
#The highest meter reading for valid and invalid within the file
df2=df.loc[:,['Meter','Status']]
GROUPby_status1=df2.groupby('Status',axis=0)
#min1=df.idxmin(axis="Status")
GROUPby_status1.max()

                Meter
Status
F       1300001188124
V       2200019605568

In [23]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Meter       5 non-null      int64
 1   Meter_ID    5 non-null      int64
 2   M_Reading   5 non-null      int64
 3   Reading_Id  5 non-null      float64
 4   Date        5 non-null      int64
 5   Status      5 non-null      object
dtypes: float64(1), int64(4), object(1)
memory usage: 368.0+ bytes

In [29]:
#converting Date int to date and time type
df['Date']=pd.to_datetime(df.Date) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Meter       5 non-null      int64
 1   Meter_ID    5 non-null      int64
 2   M_Reading   5 non-null      int64
 3   Reading_Id  5 non-null      float64
 4   Date        5 non-null      datetime64[ns]
 5   Status      5 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 368.0+ bytes

In [41]:
#The most recent and oldest meter reading within the file

recent_date=df.loc[:-1,['Meter','Date']]
recent_mreading=df.groupby('Date',axis=0)
recent_mreading.max()

,Meter,Meter_ID,M_Reading,Reading_Id,Status
Date,,,,,
1970-01-01 00:00:00.020210331,1300001188124,4,20200329001234,115.0,F
1970-01-01 00:00:00.020210401,1591024987400,5,20200329000000,29310.0,V
1970-01-01 00:00:00.020210402,2200019605568,1,20200110000000,4810.1,V